<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuhaozzu.mybatis.dao.StaffMapper">
  <resultMap id="BaseResultMap" type="com.liuhaozzu.mybatis.model.Staff">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="edlevel" jdbcType="INTEGER" property="edlevel" />
    <result column="hiredate" jdbcType="TIMESTAMP" property="hiredate" />
  </resultMap>
  <insert id="insert" parameterType="com.liuhaozzu.mybatis.model.Staff">
    insert into staff (id, name, dept, 
      salary, edlevel, hiredate
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR}, 
      #{salary,jdbcType=INTEGER}, #{edlevel,jdbcType=INTEGER}, #{hiredate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liuhaozzu.mybatis.model.Staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="edlevel != null">
        edlevel,
      </if>
      <if test="hiredate != null">
        hiredate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="edlevel != null">
        #{edlevel,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>